.mod-5 a {
  text-decoration: none;
  color: #505050;
}
.mod-5 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mod-5 li {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.mod-5 body {
  background: white;
}
.mod-5 .store-badge {
  vertical-align: middle;
}
.mod-5 .store-badge img {
  width: 156px;
}
.mod-5 .store-badge.bottom {
  display: none;
}
.mod-5 .app {
  text-align: center;
}
@media only screen and (min-width: 780px) {
  .mod-5 .store-badge {
    display: inline-block;
    margin-right: 18px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 779px) {
  .mod-5 .store-badge {
    display: inline-block;
    margin-right: 18px;
  }
  .mod-5 .store-badge img {
    width: 190px;
  }
}
@media only screen and (max-width: 480px) {
  .mod-5 .store-badge {
    text-align: center;
    margin-bottom: 40px;
  }
  .mod-5 .store-badge img {
    display: inline-block;
  }
  .mod-5 .store-badge.top {
    display: none;
  }
  .mod-5 .store-badge.bottom {
    display: block;
  }
  .mod-5 .store-badge img {
    width: 190px;
  }
}
.mod-5 footer {
  text-align: center;
  margin: 18px 0 30px;
}
@media only screen and (max-width: 779px) {
  .mod-5 footer {
    margin-top: 30px;
    padding: 0 30px;
  }
}
.mod-5 .footer-links {
  font-size: 1.3rem;
  color: #505050;
  display: inline-block;
  width: 100%;
}
.mod-5 .footer-links a {
  display: inline-block;
  transition: color 0.2s ease-out;
}
.mod-5 .footer-links a:hover {
  color: #DA151F;
}
@media only screen and (max-width: 779px) {
  .mod-5 .footer-links {
    padding: 30px 30px;
    background: #ECECEC;
    text-align: left;
  }
  .mod-5 .footer-links a {
    padding: 10px 0;
    font-size: 1.4rem;
  }
  .mod-5 .footer-links li {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .mod-5 .footer-links li {
    width: 100%;
  }
}
@media only screen and (min-width: 780px) {
  .mod-5 .footer-links a {
    padding: 10px 10px;
  }
  .mod-5 .footer-links li:not(:last-child) {
    margin-right: 30px;
  }
}
.mod-5 img {
  width: 100%;
  height: auto;
  display: block;
}
.mod-5 img {
  width: 100%;
  height: auto;
  display: block;
}
.mod-5 .app-display {
  display: inline-block;
  max-width: 460px;
  vertical-align: middle;
  position: relative;
}
